#featured-works{
	position: relative;
	background: $bgcolordark;
}
#about-section{
	padding-top: 80px;
	padding-bottom: 90px;
}
#costum-cont{
	padding: 0 !important;
	margin: 0 !important;
}
#testimonials{
	padding-top: 80px;
	padding-bottom: 70px;
}
#video{
	height: 700px;
	width: 100%;
	position: relative;
	padding: 0px;
	iframe{
		position: absolute;
		width: 100%;
		height: 100%;
	}
}
#port-desc{
	height: auto;
	position: relative;
	display: none;
}
#portfolio-cont{
	padding: 50px 0px 85px 0px;
	position: relative;
	background: $bgcolordark;
}
#port-desc-holder{
	width: 500px;
	height: auto;
	margin: auto;
	.img-zoomed{
		width: 300px;
		height: 300px;
		margin: 0 100px 30px;
	}
	.header2{
		text-align: justify;
	}
}
#feat-nav{
	width: 460px;
	height: 60px;
	margin: 30px auto 80px;
}
#test-holder-np{
	padding: 0px;
}
#contact{
	padding-bottom: 60px;
	//width: 1180px;
	margin: auto;
	span{
		img{
			margin: 0px 5px 0px 0px;
		}
		img,p{
			float: left;
		}
				
	}
}
.email-to{
	margin-right: 10px;
	float: left;
}
.email-owner{
	float: left;
}
#contact-head-cont{
	//width: 1180px;
	width: 100%;
	margin: auto;
	img{
		width: 90%;
		margin: 5%;
	}
}
#map{
	height: 500px;
	position: relative;
	overflow: hidden;
	#map-cont{
		position: relative;
		width: 100%;
		height: 500px;
	}

}
.cont-bg{
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
	.cont-bg-2{
		height: 40%;
		width: 80%;
		left: 10%;
		bottom: -40%;
	}
	.cont-bg-3{
		height: 50%;
		width: 50%;
		left: 25%;
		bottom: -50%;
	}
	.cont-bg-2, .cont-bg-3{
		position: absolute;
	}
	img{
		width: 100%;
		height: 100%;
	}
}
.pos-abs{
	position: absolute;
	z-index: 100;
	width: 100%;
	top: 140px;
	header.header1,header.header2{
		color: #FFF;
	}
	.header1{
		margin: 20px 0px;
	}
}

#team{
	background: $bgcolordark;
	position: relative;
	padding: 50px 0px 85px;
	.team-prof{
		width: 255px;
		height: 416px;
		margin: auto;
		.team-prof-pic,
		.profile{
			position: relative;
		}
		.team-prof-pic{
			height: 213px;
			width: 255px;
			img{
				height: 100%;
				width: 100%;
			}
			.team-prof-overlay{
				height: 213px;
				width: 255px;
				background: #000;
				opacity: 0;
				position: absolute;
				top: 0;
				.email{
					background-repeat: no-repeat;
					background: url('../resources/icons/color-icons.png') 0px -44px;
					height: 44px;
					width: 44px;
					top: 0px;
					left: 103px;
				}
				.email-add{
					font-family: 'Open Sans',sans-serif;
					font-size: 15px;
					letter-spacing: 1px;
					font-weight: 400;
					color: #FFF;
					bottom: 0px;
					text-align: center;
					width: 100%;
				}
				img,.email,.email-add{
					position: absolute;
				}
			}
			
		}
	.profile{
		background: #FFF;
		padding-top: 30px;
		width: 255px;
		height: 192px;
		.social{
			height: 25px;
			width: 115px;
			margin: 20px auto;

			.social-fb{
				background: url('../resources/icons/social.png') 0 0;
			}
			.social-tw{
				background: url('../resources/icons/social.png') -25px 0px;
			}
			.social-tu{
				background: url('../resources/icons/social.png') -75px 0px;
			}
			.social-fb,.social-tw,.social-tu{
				background-repeat: no-repeat;
				height: 25px;
				width: 25px;
				margin-right: 20px;
				float: left;
				&:last-child{
					margin: 0px;
				}
			}
		}
	}
		&:hover{
			.team-prof-overlay{
				@include transition($trans:$transition);
				opacity: 0.85;
				.email{
					@include transition($trans:$transition);
					top: 75px;
				}
				.email-add{
					@include transition($trans:$transition);
					bottom: 65px;
				}
			}
			.profile{
				@include transition($trans:$transition);
				background: $themecolor;
				.header5{
					color: #FFF;
				}
				.separator{
					background: #FFF;
				}
			}
		}
	}
}

#facts{
	background: #FFF;
	padding: 50px 0px;
	.header7{
		margin: 30px auto;
	}
	.facts-desc{
		font-family: 'Open Sans', sans-serif;
		font-size: 20px;
		font-weight: 300;
		color: #7F7F7F;
		text-align: center;
		margin: 20px auto;
		padding: 20px 0 100px;
	}
}
#tweet{
	background: url('../resources/icons/facts.png') 0 0 $themecolor;
}
#client{
	background: url('../resources/icons/facts.png') -73px 0px $themecolor;
}
#project{
	background: url('../resources/icons/facts.png') -146px 0px $themecolor;
}
#coffee{
	background: url('../resources/icons/facts.png') -219px 0px $themecolor;
}
#tweet,
#client,
#project,
#coffee{
	height: 71px;
	width: 73px;
	margin: auto;
}

#parallax{
	background: url('../resources/parallax/parallax-02.png') $themecolor;
	position: relative;
	overflow: hidden;
	height: 625px;
	#para-header{
		height: 200px;
		width: 480px;
		margin: 120px auto 50px auto;
	}
	#parallax-bg{
		width: 100%;
		height: 100%;
		z-index: 1;

		#parallax-layer-1{
		width: 90%;
		height: 50%;
		position: absolute;
		bottom: -50%;
		left: 5%;
			img{
				width: 100%;
				height: 100%;
			}	
		}
	}
}

#services{
	padding: 50px 0px 85px;
	background: $bgcolordark;
}
.circle{
	height: 110px;
	width: 110px;
	border-radius: 110px;			
	margin: 10px auto 30px;
}

.clients-info{
	position: relative;
	float: left;
	height: 200px;
	width: 258px;
	img{
		width: 100%;
		height: 100%;
	}
	section{
		height: 100%;
		width: 100%;
		padding: 51px 20px;
		position: absolute;
		opacity: 0;
		background: rgba(76, 221, 243, 0.85);
		
		top: 0;
		div{
			background: url('../resources/icons/color-icons.png') -44px 0 no-repeat;
			height: 44px;
			width: 44px;
			margin: auto;
		}
		.client-text-1{
			margin-top: 30px;
		}
		.client-text-1,
		.client-text-2{
			text-align: center;
		}
	}
	&:hover{
		@include transition($trans:$transition2);
		section{
			opacity: 1;

		}
	}

}
#port-btn{
	height: 30px;
	width: 600px;
	margin: 0px auto 70px auto;
	#port-btn-cont{
		.port-btn-prop{
		line-height: 32px;
		margin: 0 5px 10px; 
		padding: 0px 22px 0px 22px;
		position: relative;
		background: #FFF;
		float: left;
		border-radius: 3px;
			&:hover{
				background: $themecolor;
				color: #FFF;
			}
		}
	}
}
#port-img{
	padding: 0px;
	overflow: hidden;
}
#works-car-view{
	overflow: hidden;
}
#works-car-cont{
	height: 100px;
	width: 2240px;
	position: relative;
	float: left;
	margin-top: 85px;
	li{
		float: left;
		width: 320px;
		img{
			width: 100%;
			height: 100%;
		}
	}

}

