.overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('../resources/icons/overlay.png');
}
#nav-properties{
	position: relative
}
#nav-wrapper{
	height: 75px;
	width: 100%;
	background: #FFF;
}
.spacing-top{
	padding: 120px 0 30px;
}
.spacing-text{
	margin: 50px auto;
	text-align: center;
}
.hide{
	overflow: hidden !important;
}
/**********Animation***********/
#active{
	-webkit-animation-duration: 1s; 
   	animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
   	animation-fill-mode: both; 
    -webkit-animation-timing-function: linear; 
    animation-timing-function: linear; 
    display: block;
}
.fadeInUp { 
    -webkit-animation-name: fadeInUp; 
    animation-name: fadeInUp; 
}
.fadeOutDown { 
    -webkit-animation-name: fadeOutDown; 
    animation-name: fadeOutDown; 
}   
/**********Spacer***********/
.separator,.separator1{
	height: 2px;
	background: $themecolor;
	margin: auto;
}
.separator{
	width: 100px;
	margin: 40px auto;
}
.separator1{
	width: 100px;
}
/*********Special**********/
#link1{
	width: 200px;
	padding: 15px 0px;
	border: solid 2px $themecolor;
	margin-top: 30px;
	a{
		text-decoration: none;
		color: #FFF;
	}
}
#goto-top{
	height: 50px;
	width: 50px;
	position: fixed;
	bottom: 50px;
	right: 50px;
	z-index: 100000;
	border-radius: 50px;
	background: $themecolor;
	line-height: 50px;
	color: #FFF;
	font-size: 17px;
	text-align: center;
}
#prev_image,#next_image,#portfolio_nav{
	background: #E1E1E1;
	float: left;
}
#next_image_test{
	top: 263px;
	right: 0px;
}
#prev_image_test{
	top: 263px;
	left: 0px;
}
#dot-holder{
	left: 230px;
}
#dot-holder-test{
	left: 268px;
	bottom: -50px;
}
#prev_image, #next_image{
	width: 30px;
	height: 57px;
	img{
		position: absolute;
	}
	&:hover{
		background: $themecolor;
	}
}
#prev_image{
	img{
		left: 0px;	
	}
}
#next_image{
	img{
		right: 0px;
	}
}
#portfolio-nav{
	margin: 10px 110px;
	height: 40px;
	width: 180px;
	border-radius: 25px;
	background: $themecolor;
	color: #FFF;
	text-align: center;
	line-height: 40px;
	float: left;
	a{
		text-decoration: none;
		color: #FFF;
	}
	&:hover{
		background: #E1E1E1;
	}
	
}
.next,
.prev{
	position: absolute;
	width: 40px;
	height: 58px;
	opacity: 0;
}
.next{
	background: url('../resources/icons/c-arrows.png') -7px -98px $themecolor;
	background-repeat: 	no-repeat;
}
.prev{
	background: url('../resources/icons/c-arrows.png') -17px -14px $themecolor;
	background-repeat: no-repeat;
}
#head_prev_image,
#head_next_image{
	opacity: 0.4;
	&:hover{
		opacity: 1.0;
	}
}

/*******padding*************/
.head1-pad{
	padding: 70px 0 30px;
}
.head2-pad{
	margin: 50px auto;
	width: 680px;
}
.head1-pad-nt{
	padding: 0px 0 30px;
	text-align: center;
}
.head2-pad-fb{
	margin: 50px auto 115px;
	text-align: center;
}
.head4-pad-ft{
	margin: 60px auto 0px !important;
}
.no-pad{
	padding: 0px !important;
}
/********************************/
.round-img{
	border-radius: 99px;
	position: relative;
	float: left;
	margin: 0px 20px 0px 0px;
}
.prog-bg{
	height: 36px;
	width: 70%;
	margin: 30px auto;
	background: #DEDEDE;
	border-radius: 3px;
	.prog-fill{
		height: 36px;
		background: url('../resources/icons/skill-sprite.png') $themecolor;
		span{
			width: 200px;
			float: left;
			opacity: 0;
		}
	}
	#w-60,#w-70,#w-80,#w-90,#w-100{
		width: 0%;
	}
}
/**********input form****************/
input,textarea,#submit{
	padding: 11px;
	border: none;
	outline: none;
	text-transform: uppercase;
	background: #FBFBFB;
	width: 97%;
	margin: auto;
}
textarea{
	resize: vertical;
}
#submit{
	font-size: 14px;
	padding: 3px 30px;
	line-height: 26px;
	border-radius: 3px;
	border: none;
	background: $themecolor;
	color: #FFF;
	//margin-bottom: 20px;
	&:hover{
		background: #F7F7F7;
		color: $themecolor;
	}
}
/************footer************/
#footer{
	height: 201px;
}
#footer-icons{
	margin: auto;
	position: relative;
	height: 73px;
	width: 213px;
	margin-top: 50px;
	#foot-fb,#foot-tw,#foot-gplus{
		height: 51px;
		width: 51px;
		position: relative;
		margin: 10px;
		float: left;
			&:hover{
				opacity: 0.7;
			}
		}
		#foot-fb{
			background: url('../resources/icons/social-footer.png') -102px 0px;
		}
		#foot-tw{
			background: url('../resources/icons/social-footer.png') 0px 0px;
		}
		#foot-gplus{
			background: url('../resources/icons/social-footer.png') -51px 0px ;
		}
}
/*******icons***********/
.tool{
	background: url('../resources/icons/sl-icons.png') 0px 0px $themecolor;
}
.diamond{
	background: url('../resources/icons/sl-icons.png') -110px 0px $themecolor;	
}
.globe{
	background: url('../resources/icons/sl-icons.png') -220px 0px $themecolor;
}
.pin{
	background: url('../resources/icons/sl-icons.png') -330px 0px $themecolor;
}
.clock{
	background: url('../resources/icons/sl-icons.png') -440px 0px $themecolor;
}
.tool,.diamond,.globe,.pin,.clock{
	&:hover{
		background-color: #E6E6E6;
	}
}
.serv-tooltip{
	display: none;
	position: absolute;
	width: 220px;
	height: auto;
	background: #000;
	padding: 5px;
	margin-bottom: 30px;
	bottom: 100%;
	left: 50%;
	margin-left: -110px;
	top: auto;
	ul{
		color: #FFF;
		font-size: 14px;
		text-align: left;
		font-weight: 300px;
		font-family: 'Open Sans', sans-serif;
		line-height: 30px;
		li{
			span{
				height: 15px;
				width: 15px;
				background: url('../resources/icons/ckeck.png') no-repeat $themecolor;
				float: left;
				margin: 7px 7px -3px 0px;
			}	
			p{
				float: left;
			}
		}
	}
			
}

.arrow-down{
	position: absolute;
	left: 50%;
	bottom: -8px;
	margin-left: -8px;
	display: none;
	width: 0px;
	height: 0px;
	border-left: 8px solid rgba(0, 0, 0, 0);
	border-right: 8px solid rgba(0, 0, 0, 0);
	border-top: 8px solid rgba(6, 6, 6, 0.85);
}
.notifications{
	width: 97%;
	margin: 20px auto 0;
	display: none;
	strong{
		font-weight: bold;
	}
}