@media screen and (max-width: 480px){
	#title-cont{
		.title-2{
			width: 240px;
			font-size: 13px;
			margin-top: -65px;
		}
		.headline{
			font-size: 20px;
			margin: 40px auto;
		}
		#link1{
			margin: auto;
		}
		#head_prev_image{
			left: 50px;
		}
		#head_next_image{
			right: 105px;
		}
	}
	.title2{
		width: 240px;
		font-size: 13px;
	}	
	#link1{
		margin: auto;
	}
	.header1{
		font-size: 14px;
	}
	.header8{
		font-size: 14px;
	}
	#featured-slider-cont{
		#featured-slider{
			margin-left: -1022.5px;
		}
	}
	
	#about-section{
		#about-info-cont{
			width: 80%;
			margin: auto;
			img{
				margin: 0 30px;
				float: nonel
			}
			.title{
				font-size: 14px;
				text-align: center;
				margin-top: 30px;
			}
		}
		#office-carousel-cont{
			height: 275px;
			width: 290px;
			#office-carousel{
				height: 210px;
				width: 870px;
				img{
					height: 210px;
					width: 290px;
				}
			}
		}
	}
	#costum-cont{
		height: 320px;
	}
	#port-btn{
		width: 100%;
	}
	#video{
		height: 160px;
	}
	#feat-nav{
		width: 300px;
	}
	#contact{
		width: 100%;
		#contact-head-cont{
			width: 100%;
			img{
				display: none;
			}
		}
		p.contact-text-2{
			font-size: 13px;
		}
	}
	.pos-abs{
		top: 40px;
		header.header1{
			font-size: 14px !important;
		}
	}
	#facts{
		padding-bottom: 0px;
	}
	#parallax{
		height: 255px;
		#para-header{
			width: 300px;
			height: 100px;
			margin: 40px auto 0px;
			.header8{
				font-size: 14px;
			}
			.header4{
				margin: 40px auto;
			}
		}
	}
	.clients-info{
		// width: 320px;
		// height: 248px;
		width: 100%;
		height: 300px;
		section{
			padding-top: 95px;
		}
	}
	#works-car-cont{
		ul{
			margin: 0px;
		}
	}
	#portfolio-nav{
		margin: 10px 30px;
	}
	.head1-pad{
		padding: 0px 40px 50px;
	}
	.head2-pad{
		padding: 0px 25px;
		width: auto;
	}
	.head1-pad-nt{
		padding: 100px 0px 60px;
	}
	.prog-bg{
		width: 100%;
	}
	.t-car-cont{
		width: 290px;

		.t-car-conts{
			padding: 0px 0px 0px;
			p{
				width: 290px;
				font-size: 13px;
			}
		}
		.t-car-conts:last-child{
			padding: 5px 0px 0px;
		}
	}
	#car-holder{
		width: 290px;
	}
	#testimonials-carousel{
		width: 870px;
		#test-holder-np{
			padding: 0px !important;
		}
	}
	.dot-cont{
		width: 120px;
		.dot{
			height: 15px;
			width: 15px;
			border-radius: 50%;
		}
	}

	#port-desc{
		.port-desc-nav{
			margin: 20px auto;
		}
		#port-desc-cont{
			#port-desc-holder{
				width: 250px;	
				img{
					width: 200px;
					height: 200px;
					margin: 20px 25px 30px;
				}	
			}
		}
	}
}

@media screen and (max-width:568) and (min-width:568px){
	.img-zoomed{
		margin: 0 120px 20px;
	}
	.spacing-top{
		font-size: 40px;
		padding: 80px 40px 11px;
	}
	#featured-slider{
		margin-left: -898.5px;
	}

	#parallax{
		width: 100%;
	}
	#works-car-view{
		#works-car-cont{
			width: 1960px !important;
			li{
				width: 280px !important;
			}
		}
	}
	#office-carousel-cont{
	height: 275px;
	width: 290px;
	#office-carousel{
		height: 210px;
		width: 870px;
		img{
			height: 210px;
			width: 290px;
		}		
	}
}
	.less-pad{
		padding-left: 5px;
		padding-right: 5px;
	}
	#port-btn{
		width: 100%;
	}
}
@media screen and (max-width:599px) and (min-width:481px){
	#port-desc-holder{
		width: 100%;
		padding: 0 20px;
		.img-zoomed{
			width: 250px;
			height: 250px;
			margin: 0px 80px 20px;
		}
	}
	.dot-cont{
		width: 120px;
		.dot{
			height: 15px;
			width: 15px;
			border-radius: 50%;
		}		
	}
	#video{
		height: 160px !important;
	}
	#portfolio-cont{
		.head2-pad{
			width: 410px;
			padding: 0 25px;
		}
		#port-btn{
			width: 100%;
			padding: 0 40px;
			height: 80px;
		}
		.clients-info{
			height: 369px;
			width: 100%;
			section{
				padding-top: 120px;
			}
		}
		#works-car-view
		{
			#works-car-cont{
			width: 1680px;
				li{
					width: 240px;
				}
			}
		}
	}
	#testimonials{
		#car-holder{
			width: 450px;
			height: 310px;
			#testimonials-carousel{
				width: 1350px;
				height: 310px;
				.t-car-cont{
					width: 450px;
					height: 310px;
					.t-car-conts{
						width:350px;
						margin: auto;
					}
				}
			}
		}
		#dot-holder-test{
			bottom: 0 !important;
		}
	}
	#hello{
		margin-top: 50px;
	}
	.headline{
		font-size: 25px;
		margin: 37.5px auto;
	}
	.title-2{
		margin-top: -65px;
		width: 345px;
	}
	#head_prev_image{
		left: 70px;
	}
	#head_next_image{
		right: 100px;
	}
	#link1{
		margin: auto;
	}
	#featured-works{
		.spacing-top{
			padding: 80px 40px 11px !important;
			font-size: 40px;
		}
		.header{
			padding: 0px 40px;
		}
		#feat-nav{
			width: 300px;
			#portfolio-nav{
				margin: 10px 30px;
			}
		}
	}
	#featured-slider{
		margin-left: -942.5px;
	}
	#about-info-cont{
		width: 80%; 
		margin: auto;
		img{
			margin: 0px 20px 20px 0px;
		}
		.title{
			font-size: 14px;
			line-height: 14px;
			margin: 0px 0px 20px 0px;
		}
	}
	#office-carousel-cont{
			height: 340px;
			width: 400px;
			#office-carousel{
				width: 1200px;
				height: 280px;
				img{
					height: 280px;
					width:400px;
				}
			}
		}	
	#costum-cont{
		height: 600px;
		.cont-bg{
			.pos-abs{
				top: 40px;	
			}
		}
	}
	.head2-pad{
		width: 400px;
		padding: 0px;
	}

	#parallax{
		height: 480px !important;
		width: 100%;;
		#para-header{
			width: 400px !important;
			margin: 40px auto 0px !important;
		}
		#parallax-bg{
			height: 0;
			width: 0;
		}
	}
	#contact{
		//width:480px;
		#contact-head-cont{
			//width: 400px;
			//padding: 0 25px;
			width: 100%;
			.header1,.header2{
				font-size: 17px;
			}
			.head1-pad-nt{
				padding: 0px 0 60px;
			}
			.head2-pad-fb{
				width: 213px;
				margin: 50px auto 115px;
			};
			img{
				width: 100%;
				margin: 0;
			}
		}
		.col-md-4{
			padding: 0 50px;
		}
	//}
	.header8{
		font-size:35px;
	}
	.header1{
		font-size: 35px;
	}
}
}
@media screen and (max-width:767px) and (min-width:600px){

	#title-cont{
		top:50%;
		.headline{
			font-size:20px;
			margin:40px;
		}
		.title-2{
			width: 365px;
			margin-top:-50px;
		}
		#link1{
			margin:40px auto 0;
		}
		#head_prev_image{
			left:70px;
			top:10px;
		}
		#head_next_image{
			right:70px;
			top:10px;
		}
	}
	#featured-works{
		.spacing-text{
			padding: 0 40px;
		}
		#feat-nav{
			width: 280px;
			#portfolio-nav{
				margin: 10px 20px;
			}
		}
	}
	#featured-slider-cont{
		#featured-slider{
			margin-left: -882.5px;
		}
	}
	#about-section{
		#office-carousel-cont{
			#office-carousel{
				
			}
		}
		#about-info-cont{
			width:70%;
			margin:auto;
		}
	}
	.dot-cont{
		width: 120px;
		.dot{
			height: 15px;
			width: 15px;
			border-radius: 50%;
		}
	}
	#costum-cont{
		height: 600px;
	}
	.head2-pad{
		width: auto;
		padding: 0 40px;
	}
	#parallax{
		height: 400px;
	}
	.img-zoomed{
		margin: 0 100px 20px;
	}
	.clients-info{
		width: 50%;
		height: 325px;
		section{
			padding-top: 100px;
		}
		//width: 600px;
		//height: 425px;
	}
	#contact{
		#contact-head-cont{
			width: auto;
			img{
				width: 80%;
				margin-left: 10%;
			}
		}
	}
	.head2-pad-fb{
		width: auto;
		padding: 0 178px;
	}
	#map{
		height: 500px;
	}
	#works-car-cont{
		width: 2100px;
		li{
			width: 300px;
		}
	}
}
@media screen and (max-width:1036px) and (min-width:768px){
	#title-cont{
		ul{
			margin: 50px;
		}
		.headline{
			font-size: 40px;
		}
		#link1{
			margin-top: 40px;
		}
	}
	#head-next-image{
		right: 40px;
	}
	#head-left-image{
		left: 40px;
	}
	.clients-info{
		width: 33.33%;
		float: left;
		section{
			padding-top: 40px;
		}
	}
	#works-car-cont{
		width: 1862px;
		li{
			width: 266px;
		}
	}
	#about-info-cont{
		width: 100%;
	}
	#office-carousel-cont{
		width: 100%;
		#office-carousel-cont{
			width: 1383px;
			img{
				width: 33.33%;
				height: 100%;
			}
		}
	}
	#car-holder{
		width: 438px;
		height: 275px;
		#testimonials-carousel{
			width: 1314px;
			height: 275px;
		}
	}
	.t-car-cont{
		width: 33.33%;
	}
	#test-holder-np{
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media screen and (max-width: 900px){
	#nav-wrapper ul{
		padding: 0px;
	}
	.navbar-header{
		padding: 0;
	}
	#goto-top{
		right: 5px;
		bottom: 5px;
	}
}